.container{
    width: 60vw;
    margin: 10px;
      margin-left: 100px;
       border : 2px solid black;
      padding: 20px;
      
}

.detail{
    
    display: flex;
    justify-content: space-between;
}

.department{
    text-overflow: ellipsis;
    overflow: hidden;
   white-space: nowrap;
}